* {
	background: initial;
	border: initial;
	box-sizing: border-box;
	margin: initial;
	padding: initial;
}
#json-viewer {
	background: #111;
	color: #eee;
	font-family: monospace;
	overflow-wrap: break-word;
	padding: 15px 20px;
}
#json-viewer ul,
#json-viewer ol {
	list-style-type: none;
	margin-left: 40px;
}
#json-viewer details:not([open]) {
	display: inline;
}
/* New style: */
#json-viewer details > summary {
	list-style-position: outside;
}
#json-viewer details:not([open]) > summary::after {
	/* `margin` must be used
	/* instead of whitespace in `content`
	/* because they will break. */
	content: "...";
	margin-inline: 5px;
}
/**/
/* Old style: *
#json-viewer details > summary {
	list-style-type: none;
}
#json-viewer details > summary::after {
	/* `margin` must be used
	/* instead of whitespace in `content`
	/* because they will break. *
	content: "+";
	color: green;
	margin-inline: 5px;
}
#json-viewer details[open] > summary::after {
	content: "-";
	color: red;
}
/**/
