* {
	background: initial;
	border: initial;
	box-sizing: border-box;
	margin: initial;
	padding: initial;
}
#json-viewer {
	background: #111;
	color: #eee;
	font-family: monospace;
	overflow-wrap: break-word;
	padding: 15px 20px;
}
#json-viewer ul,
#json-viewer ol {
	list-style-type: none;
	margin-left: 40px;
}
#json-viewer details:not([open]) {
	display: inline;
}
#json-viewer details.str {
	display: revert;
}
#json-viewer details.str > * {
	float: left;
}
#json-viewer details > summary {
	list-style-position: outside;
}
#json-viewer details:not([open]) > summary::after {
	content: "...";
}
